---
---
<section class="flex-col pt-40 justify-between items-center">
	<div class="containerImg w-80 h-80 -mt-20 flex justify-center items-center mx-auto">
		<img src="/assets/muñeco.png" alt="Kristian Animado" class="w-full h-auto rounded-sm">
	</div>
	<div class="name-links flex flex-col justify-center text-center">
		<div class="titulos">
			<h1 class="font-[NewAmsterdam] text-[70px] text-[#370617] font-extrabold tracking-wide m-0 p-0">
				Kristian Ferrin
			</h1>
			<h3 class="font-[NewAmsterdam] text-[30px] text-[#6a040f] mt-0.5 mb-4 p-0">
				Desarrollador FullStack
			</h3>
		</div>
		<div>
			<button 
				onclick="document.getElementById('sobre-mi').scrollIntoView({ behavior: 'smooth' })"
				class="mt-4 p-2 bg-transparent border-none cursor-pointer transform hover:scale-110 transition-transform"
				aria-label="Scroll Down"
			>
				<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
					<path fill="black" fill-rule="evenodd" d="M4.293 7.793a1 1 0 0 1 1.414 0L12 14.086l6.293-6.293a1 1 0 1 1 1.414 1.414L13.414 15.5a2 2 0 0 1-2.828 0L4.293 9.207a1 1 0 0 1 0-1.414" clip-rule="evenodd"/>
				</svg>
			</button>
		</div>
	</div>
</section>
